/**********
///
///
///   Required styles for the
///   image carousel
///
///
*******************/
.image-carrossel .item img{
  display: block;
  width: 100%; /* always stretch images to fill carousel container */
  height: auto;
}







/**********
///
///
///   Type & color
///
///
*******************/
body {
  font-weight: 300;
  padding: 0 1em;

  background: white;
  color: #777;
  font-family: 'Raleway', sans-serif;
}
h1, h2, h3 { font-weight: 300; color: #222; }
h1 { font-size: 1.8em; }
p { font-size: 0.9em; }
a, a:active, a:hover, a:link, a:visited { color: black; font-weight: 700; }







/**********
///
///
///   Layout
///
///
*******************/
body {
  margin: 0 auto; /* center in page with collapsing margins */

  /* don't ever stretch greater than 800px
  * carousel stretchs to fill container size
  * in this case body is the carousel container */
  max-width: 900px;

  text-align: center;
}
h1 { margin-bottom: 0.2em; }
p { max-width: 35em; display: inline-block; }
.image-carrossel .item{ margin: 3px; /* border in between carousel images */ }
#footer {
  margin-top: 6em;
}
