body {
	margin: 0 auto;
	padding: 1em;
	max-width: 45em;
}
p {
	max-width: 30em;
}

.tile {
	min-height: 200px; /* always contain the image */		
	position: relative;
	padding: 10px;
	padding-left: 220px; /* leave room for image */
	
	background-color: #eee;
	color: #333;
	border: solid #ddd 2px;
	
	margin-bottom: 1em; /* margin between tiles */
}
.tile img {
	height: 200px;
	position: absolute;
	left: 10px;
	top: 10px;
	margin: 0; padding: 0;
}
.tile p {
	line-height: 1.3em;
}
.tile h2 {
	margin: 0; padding: 0; line-height: 1;
}
